{% extends "base.html" %}
<title>Profile</title>
<link rel="stylesheet" href="static/profile.css">
{% block content %}
        <section class="heading">
            <div class="background">
                <img src="static/assets/wallpaper.png" alt="banner">
            </div>

            <div class="profile_picture">
                <img src="static/assets/template.png" alt="profile">
            </div>
            <div class="bio">
                <span>About me...</span>
            </div>
        </section>

        <section class="navbar">
            <div class="projects">
                <a href="#projects_background">Projects</a>
                <a href="#contributions_background">Contributions</a>
            </div>
        </section>

        <section class="works">
            <h2>Projects</h2>
            <div id="container1">
                <div id="#projects_background">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                </div>
            </div>
        </section>

        <section class="contributions">
            <h2>Contributions</h2>
            <div id="container2">
                <div id="contributions_background">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="static/assets/images.jpg" alt="picture of project" class="scroll">
                </div>
            </div>
        </section>
{% endblock %}