{% extends "base.html" %}
{% block title %}
{{ user.username }}'s Profile
{% endblock %}
<link rel="stylesheet" href="static/profile.css">
{% block content %}
<header class="row full-width">
    <div class="col">
        <h1>{{ user.username }}</h1>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
    </div>
    <div class="col">
        <p>Hearing Impaired: {{ user.hearing_impaired }}</p>
        <p>Uses Interpreter: {{ user.need_interpreter }}</p>
        <p>Knows ASL: {{ user.understand_asl }}</p>
    </div>
</header>
<main class="row">
    <section class="col width-40">
        <h2>Ideas Started</h2>
        <div class="col listed">
            {% for project in started_ideas %}
            <a href="{{ url_for('ideas.idea_page', idea_id=project.id) }}" class="no-link">
                <article class="row">
                    <div class="basic-info col">
                        <h3>{{ project.name }}</h3>
                        <p>{{ project.owner.username }}</p>
                    </div>
                    <div class="desc">
                        <p>{{ project.description }}</p>
                    </div>
                    <div class="basic-info col">
                        <h3>Currently Interested: {{ project.contributors | length }}</h3>
                        <p>Desired Roles: {{ project.needed_roles | join(", ", attribute="role_name") }}</p>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
    </section>
    <section class="col width-40">
        <h2>Contributor For</h2>
        <div class="col listed">
            {% for project in contributed_ideas %}
            <article>
                <div class="basic-info col">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.owner.username }}</p>
                </div>
                <div class="desc">
                    <p>{{ project.description }}</p>
                </div>
                <div class="basic-info col">
                    <h3>Total Contributors: {{ project.contributors | length }}</h3>
                </div>
            </article>
            {% endfor %}
    </section>
</main>
{% endblock %}