<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="profile.css">
    </head>
    <body>
        <section class="heading">
            <div class="background">
                <img src="assets/wallpaper.png" alt="banner">
            </div>

            <div class="profile_picture">
                <img src="assets/template.png" alt="profile">
            </div>
            <div class="bio">
                <span>About me...</span>
            </div>
        </section>

        <section class="navbar">
            <div class="projects">
                <a href="#projects_background">Projects</a>
                <a href="#contributions_background">Contributions</a>
            </div>
        </section>

        <section class="works">
            <h2>Projects</h2>
            <div id="container1">
                <div id="#projects_background">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                </div>
            </div>
        </section>

        <section class="contributions">
            <h2>Contributions</h2>
            <div id="container2">
                <div id="contributions_background">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                    <img src="assets/images.jpg" alt="picture of project" class="scroll">
                </div>
            </div>
        </section>

        

    </body>
</html>