{% extends "base.html" %}
<title>Idea</title>
{% block content %}
        <section>
            <h1>Idea: {{ idea.name }}</h1>
            <p>{{ idea.owner.username }}</p>
            <p>Started: {% if idea.started %}Yes{% else %}No{% endif %}</p>
            <p>Searching: {% if idea.searching_for_contributors %}Yes{% else %}No{% endif %}</p>
            <p>Finished: {% if idea.finished %}Yes{% else %}No{% endif %}</p>
        </section>
        <section>
            <p>{{ idea.description }}</p>
            <div>[Desired Roles]</div>
            <ul>
                {% for role in idea.needed_roles %}
                <li>{{ role.role_name }}</li>
                {% endfor %}
            </ul>
        </section>
        {% if idea.owner.id != current_user.id %}
        <section>
            <h3>Contact {{ idea.owner.username }} to apply!</h3>
            <form method="POST" action="{{ url_for('messages.new_room') }}">
                {{ form.csrf_token }}
                {{ form.target_user() }}
                <input type="submit" value="Contact">
        </section>
        {% endif %}
        {% if current_user in idea.contributors %}
        <section>
            <h3>You are a contributor for this idea</h3>
        </section>
        {% endif %}
{% endblock %}