:ROOT{
    color:black;
}
h1{
    text-align: center;
}
#NavBar{
    display: flex;
    justify-content: space-evenly;
}
#NavBar{
    padding: 8px 16px 8px 16px;
    margin: 12px;
}
#NavBar div{
    padding: 8px 16px 8px 16px;
}
#NavBar :hover{
    background-color: black;
    color: white;
}
#Description{
    display: flex;
    justify-content: center;
    
}
.scrolling{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll {
    display: inline-block;
}