:ROOT{
    color:black;
}
h1{
    text-align: center;
}
#NavBar{
    display: flex;
    justify-content: space-evenly;
    padding: 8px 16px 8px 16px;
    margin: 12px;
}
#NavBar div{
    padding: 12px 12px 0px 12px;
}
#NavBar img{
    width: 40px;
    height: 40px;
    border-radius: 21px;
}
#NavBar :hover{
    background-color: black;
    color: white;
}
#Description{
    display: flex;
    justify-content: center;
}
.scrolling{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scroll {
    display: inline-block;
}
footer{
    display: flex;
    flex-wrap: wrap;
}