<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <section id="NavBar">
            <a href="index.html">Home</a>
            <a href="">Published Projects</a>
            <a href="">My Projects</a>
            <a href="{{ url_for('profile.show_profile', user_id=current_user.id) }}">Profile</a>
        </section>
        {% block content %}
        {% endblock %}
    </body>
    <footer>
        <h5>Have a question?<br>Contact us!</h5>
        <p>Email: <br> Phone: <br></p>
    </footer>
</html>