<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/loginstyles.css">
    </head>
    <body>
        <section id="NavBar">
            <a href="index.html">Home</a>
            <a>Published Projects</a>
            <a>My Projects</a>
            <a>Profile</a>
        </section>
        {% block content %}
        {% endblock %}
    </body>
</html>