<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <link rel="icon" type="image/png" href="/static/assets/favicon.png">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <section id="NavBar">
            <a href="{{ url_for('home.index') }}">Home</a>
            <a href="{{ url_for('ideas.list_ideas') }}">Listed Projects</a>
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.register_user') }}">Register</a>
            <a href="{{ url_for('auth.login') }}">Login</a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('ideas.idea_creation') }}">Start Project</a>
            <a href="{{ url_for('messages.list_messages') }}">Messages</a>
            <a href="{{ url_for('profile.show_profile', user_id=current_user.id) }}">Profile ({{ current_user.username }})</a>
            <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
        </section>
        {% block content %}
        {% endblock %}
    </body>
    <footer class="row">
        <section class="col foot">
            <h3>Mission</h3>
            <p>Our mission is to connect students<br>with similar ideas and goals<br>
                inorder to create projects which<br> would otherwise be impossible.<br>
                We believe that when people come<br> together, they can do incredible<br>
                things. To that end we at GroupUs<br> developed this website inorder to<br>
                connect individuals and groups,<br>encourage teamwork, and to<br> create a stonger community.<br>
                We believe in inclusivity and as such<br> have taken steps to ensure that<br>
                our serices are available to all.<br> 
            </p>
        </section>
        <section class="col foot">
            <h3>Contact us</h3>
            <address>
                Nathan Zilora<br>
                GroupUs<br>
                6000 Reynolds Dr<br>
                Rochester NY 14623<br>
            </address>
            <p>Email:<br>group.us@rit-group.us</p>
            <p>Phone:<br>(585) 333-1212</p>
        </section>
        <section class="col foot">
            <h3>Usefull Links</h3>
            <p><a href="{{ url_for('home.index') }}">Homepage</a></p>
            <p><a href="{{ url_for('auth.register_user') }}">Register</a></p>
            <p><a href="{{ url_for('auth.login') }}">Login</a></p>
            <p><a href="{{ url_for('ideas.list_ideas') }}">List Ideas</a></p>
        </section>
        <section id="footerLinks">
            <h3>Other Links</h3>
            <a href="https://discord.com">Discord</a>
            <a href="https://github.com/">GitHub</a>
            <a href="https://www.rit.edu/library/">Wallace Library</a>
        </section>
    </footer>
</html>