{% extends "base.html" %}
{% block title %}Chat Room{% endblock %}
{% block head %}
<style>
	#chat {
		overflow-x:hidden;
	    overflow-y:visible;
	    height:300px;
	    width: 500px;
	    background: black;
	    color: white;
		border-radius: 4px;
	}
	.msg {
		display: flex;
		flex-flow: row;
	}
</style>
<script src="https://cdn.socket.io/4.8.0/socket.io.min.js" integrity="sha384-OoIbkvzsFFQAG88r+IqMAjyOtYDPGO0cqK5HF5Uosdy/zUEGySeAzytENMDynREd" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<section id="chat">
{% for msg in messages %}
{% if msg.invite_id %}
<a href="{{ url_for('messages.accept_invite', invite_id=msg.invite_id) }}">
{% endif %}
<div class="msg">
	{% if msg.sender != current_user %}
	<b><p>
		{{ msg.sender.username }}- {{ msg.content }}</p></b>
	{% else %}
	<p>
		{{ msg.sender.username }}- {{ msg.content }}</p>
	{% endif %}
</div>
{% if msg.invite_id %}
</a>
{% endif %}
{% endfor %}
</section>
<div id="send_message" class="form">
	<input type="text" id="msgbox"/>
	<button onclick="send_msg()">Send Message</button>
</div>
<form id="send_invite" class="form" method="POST" action="{{ url_for('messages.make_invite') }}">
	{{ form.csrf_token }}
	<div class="checkBox">{{ form.idea.label }} {{ form.idea() }}</div>
	{{ form.target() }}
	{{ form.room() }}
	<input type="submit" value="Send Invite">
</form>
<script>
	const input = document.getElementById('msgbox');
	const chat = document.getElementById('chat');

	const socket = io();
	const this_user = "{{ current_user.username }}";

	const send_msg  = () => {
		if (input.value != '') {
			socket.emit('message', {'room': '{{ room.id }}', 'message': input.value});
	    	input.value = ''
		}
	}

	socket.on('message', (msg) => {
	    const item = document.createElement('div');
	    item.classList.add("msg")
	    if (msg.author == this_user) {
	    	item.innerHTML = "<p>" + msg['author'] + '- ' + msg['message'] + "</p>";
	    } else {
	    	item.innerHTML = "<p><b>" + msg['author'] + '- ' + msg['message'] + "</b></p>";
	    }
	    
	    chat.appendChild(item);
	    window.scrollTo(0, document.body.scrollHeight);
	  });
</script>
{% endblock %}