{% extends "base.html" %}
<title>Register</title>
{% block content %} 
        <h1>Create an account:</h1>
        <section>
            <form method="POST" action="register">
                {{ form.csrf_token}}
                {{ form.username.label}} {{ form.username() }}
                {{ form.first_name.label }} {{ form.last_name() }}
                {{ form.hearing_impaired.label }} {{ form.hearing_impaired() }}
                {{ form.require_interpreter.lable }} {{ form.require_interpreter() }}
                {{ form.password.label }} {{ form.password() }}
                {{ form.accept_rules.label }} {{ form.accept_rules() }}
                <input type="submit" value="Go">
            </form>
        </section>

{% endblock %}