{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %} 
        <h1>Create an account:</h1>
        <section>
            <form method="POST" action="/register">
                {{ form.csrf_token}}
                <div>{{ form.username.label}} {{ form.username() }}</div>
                <div>{{ form.first_name.label }} {{ form.first_name() }}</div>
                <div>{{ form.last_name.label }} {{ form.last_name() }}</div>
                <div class="checkBox">{{ form.hearing_impaired.label }} {{ form.hearing_impaired() }}</div>
                <div class="checkBox">{{ form.require_interpreter.label }} {{ form.require_interpreter() }}</div>
                <div>{{ form.password.label }} {{ form.password() }}</div>
                <div class="checkBox">{{ form.accept_rules.label }} {{ form.accept_rules() }}</div>
                <input type="submit" value="Go">
            </form>
        </section>

{% endblock %}